body
{
    background:url(https://miro.medium.com/max/1400/1*iBebVuGHJ8Gqoo-LTzCbAg.png);
}
h1
{
    color: black;
    font-size: 70px;
    font-family: Calibri-Body;
    text-align: center;
}
h3
{
    color: darkslategray;
    font-size: 30px;
    font-family: Calibri-Body;
    text-align: center;
}
header 
{
    display: inline-block;
    width: 1247px;
    
}
nav
{
    overflow:hidden;
    width: 100% ;
    background-color: whitesmoke;
    height: 70px;
    border-radius: 25px;
    transition: max-height 0.5s;
    opacity: 100%;
}
#nava 
{
    
    float: right;
    background-color: whitesmoke;
    color: darkslategray;
    font-size: 20px;
    padding: 28px;
    text-decoration: none;
}
#nava:hover
{
    background-color: tomato;
    color: white;
}
#logo
{
    font-size: 20px;
    padding: 20px;
}
#title
{
    float: left;
    color: rgb(184, 121, 27);
    font-family:Segoe UI;
}

 #spin {
    color:black;
  }
  #spin:after 
  {
    content:"";
    animation: spin 8s linear infinite;
  }
  @keyframes spin 
  {
    0% { content:"Hungry ?";}
    25% { content:"Game Night ?";}
    50% { content:"Unexpected Guests ?";}
    75% { content:"Movie Marathon ?";}
    100%{ content:"Cooking Gone Wrong ?"}
  }

  @media screen and (max-width:1000px)
  {
    nav
    {
        display: inline-block;
        width: 100% ;
        background-color: whitesmoke;
        height: 70px;
        border-radius: 25px;
    }
  }
  @media screen and (max-width:800px)
  {
    nav
    {
        display: inline-block;
        width: 1310px;
        background-color: whitesmoke;
        height: 70px;
        border-radius: 25px;
    }
  }
    @media screen and (max-width:600px)
    {
        nav
        {
            display: inline-block;
            width: 1310px;
            background-color: whitesmoke;
            height: 70px;
            border-radius: 25px;
        }
    }
    @media screen and (max-width:500px)
    {
        nav
        {
            display: inline-block;
            width: 1310px;
            background-color: whitesmoke;
            height: 70px;
            border-radius: 25px;
        }
    }